{{defineRandomId this}}

<div class="control control-passwordInput {{modifiers this 'control'}} {{#unless label}} control-noLabel {{/unless}}
		{{#if disabled}} control-disabled {{/if}}">
	{{#nolinebreaks}}
		{{> control--label}}
		<span class="control--wrap">
			<input type="password" value="{{val}}" placeholder="{{placeholder}}"
					{{#if disabled}} disabled {{/if}} id="{{randomId}}" class="{{className}}">
			{{> control--postfix}}
		</span>
	{{/nolinebreaks}}
</div>