{{defineRandomId this}}

<div class="control control-checkBox {{modifiers this 'control'}}  {{#unless label}} control-noLabel {{/unless}}
		{{#if disabled}} control-disabled {{/if}}">
	{{#nolinebreaks}}
		<span class="checkBox">
			<input type="checkbox" {{#if checked}} checked {{/if}}
					{{#if disabled}} disabled {{/if}} id="{{randomId}}">
			<span class="control--label checkBox--label">
				<label for="{{randomId}}">{{{label}}}</label>
			</span>
		</span>
	{{/nolinebreaks}}
</div>